<% include adminheader %> <% include navadmin %>

<body>
  <main role="main" class="container">
    <div class="starter-template">
      <h1>Page List</h1>
      <table class="table table-striped sorting">
        <thead>
          <tr class="home">
            Title
          </tr>
          <tr>
            Edit
          </tr>
          <tr>
            Delete
          </tr>
        </thead>
        <tbody>
          <% pages.forEach(function (page){ %>
          <tr id="id_<%= page._id %>" class=" <%= page.slug %>">
            <td>
              <%= page.title %>
            </td>
            <td>
              <a href="/admin/pages/edit-page/<%= page.slug %>">Edit</a>
            </td>
            <% if (page.slug == "home") { %>
            <td></td>
            <% } else { %>
            <td>
              <a href="/admin/pages/delete-page/<%= page._id %>"
                class="confirmDeletion">Delete<a
              >
            </td>
            <% } %>
          </tr>
          <%});%>
        </tbody>
      </table>
      
    </div>
  </main>
  <!-- /.container -->
</body>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$('tbody').sortable(  {
  items:"tr:not(.home)",
  placeholder: "ui-state-highlight",
  update: function(){
    var ids = $('tbody').sortable("serialize");
    var url ="/admin/pages/reorder-pages";
    $.post(url,ids);
  }
});
</script>
<% include adminfooter %>
